:root{
  --green:#1db954;
  --green2:#1ed760;
  --green3: #1aa34a;
  --black: #0f0f0f;
  --grey : #535353;
  --grey2 : #b3b3b3;
  --grey3 : #212121;

}
@font-face {
  font-family: "Helvetica";
  src:url(./assets//fonts//Helvetica\ 400.ttf);
}

* {
  box-sizing: border-box;
  clear: both;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}
a{
  text-decoration: none;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--black);
  background-position: fixed;
  overflow: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}
