.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:60px;
  width: fit-content;
  background:transparent;
  z-index: 100;
}
.headerImg{
  height:30px;
  mix-blend-mode: screen;
  margin:0 20px;
  cursor: pointer;
}