.player {
  width: 90vw;
  position: fixed;
  left: 50%;
  bottom: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
.player * {
  margin: 0;
  outline: none;
}
.rswp__toggle svg path,
._DevicesRSWP.__1c3oep4 svg path,
._VolumeRSWP.__1gm0lve svg path {
  transition: 0.3s;
}
.rswp__toggle:hover svg path,
._DevicesRSWP.__1c3oep4:hover  svg path,
._VolumeRSWP.__1gm0lve:hover  svg path  {
  fill: var(--green);
}
._SliderRSWP.__181lube span,._SliderRSWP.__181lube div{
  cursor: pointer;
}
.PlayerRSWP p{
  /* display: none; */
 font-size: .7em;
}

.lyrics-btn {
  background: transparent;
  font-size: 0.7em;
  font-weight: 800;
  color: var(--green2);
  outline: none;
  border: none;
  cursor: pointer;
}
.lyrics {
  position: absolute;
  max-height: calc(100vh - 114px);
  width: 100vw;
  padding:0 20px;
  top: calc(123px - 100vh);
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.589);
  box-shadow: 0 0 20px inset var(--black);
  backdrop-filter: blur(15px);
}
.lyrics .lyricTitle {
  word-wrap: break-word;
  margin: 20px;
  color: var(--green2);
}
.lyrics .lyricWords {
  white-space: pre-line;
  color: var(--white);
  margin-bottom: 80px;
}
