.slide-wrapper {
  position: relative;
  height: 170px;
  width: 100vw;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.home .playlistBox {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.home .playlistBox:hover {
  transform: scale(1.1);
}
.slide img {
  pointer-events: none;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.home .playlistBox button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.flexBtn {
  height: 35px;
  width: 35px;
  margin: 5px;
  background: var(--green);
  color: var(--white);
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 0.6em;
  text-align: center;
  padding: 2px 0px 0px 4px;
  cursor: pointer;
  transition: 0.5s;
}
.home .playlistBox:hover .flexBtn {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.home .playlistBox:hover .flexBtn:hover {
  transform: scale(1.2);
  font-size: 0.7em;
  animation-play-state: paused;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
